@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,600i&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
	html,body{
	scroll-behavior: smooth;
}
	label{
			cursor: pointer;
		}
	.level1{
		background: url(../images/screen_1_BG_Bread_Image.png);
		background-size: cover;
		position: relative;	
	}
	.level1:after{
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,.5);
			left: 0;
			top: 0;
		}
	.wrapper{
		width: 1110px;
		margin: 0 auto;
		position:relative;	
		z-index: 1;
		text-align: center;
	}
	header{
		display: flex;
		padding-top: 65px;
		justify-content: space-between;
	} 
	.logo{							
			
			
			color: #ffffff;
			font-family: "Kaushan Script";
			font-size: 36px;
			font-weight: 400;
			line-height: 48px;
			letter-spacing: 0.9px;
			z-index: 1;
		}
	.menu>ul>li{
			display: inline-block;
			margin:0 0 0 35px;
		}
		.menu>ul>li:hover a{
			color: #ffffff;
			border-bottom: 2px solid #ffffff;
		}
		.menu{
			
			z-index: 1;
		}
		.list_menu a{
			text-decoration:none;					
			width: 43px;							
			height: 16px;
			color: #ffffff;
			font-family: "Nunito";
			font-size: 18px;
			font-weight: 400;
			line-height: 48px;
			letter-spacing: 0.45px;
			padding-bottom: 10px;
			border-bottom: 2px solid transparent;
		}
		.main_info{
			text-align: center;
			font-size: 0;
		}

		h1{
			margin-top: 123px;
			color: #ffffff;
			font-family: "Nunito";
			font-size: 48px;
			font-weight: 400;
			line-height: 60px;
			
		}
		h2{
			
			color: #ffffff;
			font-family: "Nunito";
			font-size: 40px;
			font-weight: 400;
			line-height: 60px;
			letter-spacing: 1.2px
		}
		p{
			color: #ffffff;
			font-family: Nunito;
			font-size: 18px;
			font-weight: 200;
			line-height: 36px;
			letter-spacing: 0.45px; 
			text-align: center;
		}
		.gave_up{
			margin-top: 47px;

		}
		.button_where{
			text-decoration: none;
			color: #ffffff;
			display: inline-block;
			margin: 43px 0 0 0;
			border: 2px solid #ffffff;
			font-size: 14px;
			font-family: Nunito;
			font-weight: 400;
			letter-spacing: 0.35px;
			padding: 14px 35px 13px;
			

		}
		.button_where:hover{
			
			color: #000000;
			background: #ffffff;
			transition: all .5s ease;

		}
		.button_get{
			text-decoration: none;
			background-color: #ffffff;
			color: #010000;
			display: inline-block;
			margin: 43px 0 0 30px;
			border: 2px solid #ffffff;
			font-size: 14px;
			font-family: Nunito;
			font-weight: 400;
			letter-spacing: 0.35px;
			padding: 15px 37px 12px;
			

		}
		.button_get:hover{
			
			color: #ffffff;
			background: transparent;
			transition: all .5s ease;

		}
		/*.nexy_level {
		    position: relative;
		    width: 40px;
		    height: 21px;
		    margin: 30px;
		    display: block;
		    margin-top: 119px: 
		}
		.next_level:before {
		    content: '';
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 20px;
		    height: 20px;
		    border-left: 2px solid #ffffff;
		    border-bottom: 2px solid #ffffff;
		    transform: rotate(-45deg);
		    
		}*/
		.next_level{
			  border: solid white;
			  border-width: 0 5px 5px 0;
			  display: inline-block;
			  padding: 14px;
			  margin: 119px 0 28px;
			  transform-origin: (0,0,0);
			  transform:  rotate(45deg) ;

		}
			.section1{
			background: url(../images/level2_b-ground.png);
			background-size: cover;
		}
		.section1>.wrapper{
			

			text-align: center;
			position: relative;
			

		}
		.section1>.wrapper>h2{

			color: #0f1417;
			font-family: Nunito;
			font-size: 32px;
			font-weight: 700;
			line-height: 36px;
			letter-spacing: 0.8px;
			padding-top: 56px;
			margin-bottom: 36px
		}
		.section1>.wrapper>p{
		
			color: #0f1417;
			font-family: Nunito;
			font-size: 14px;
			font-weight: 400;
			line-height: 30px;
			letter-spacing: 0.35px;	
		}
		.wave_pic{
			display: block;
			margin: 44px auto 12px;
		}
		.flexbox{
			display: flex;
			margin-top: 12px
		}
		.baget_pic{
    width: 100%;
    height: auto;
		}
		
		.left_block{
			
    		margin-top: 30px;
    		
		}
		.right_block{
			
    		margin-top: 7px;
    		text-align: right;
		}
		.text1,.text2,.text3,.text4,.text5,.text6,.text7,.text8{
			
			color: #0f1417;
			font-family: Nunito;
			font-size: 12px;
			font-weight: 400;
			line-height: 36px;
			letter-spacing: 0.3px;
		}
		.text1{
			position: relative;
		}
		.text1:after{
			bottom: 11px;
    		right: -27px;
			position: absolute;
			content: "";
			width: 15px;
			height: 15px;
			background: url(../images/Forma_1.png);
		}
		.text1:before{
			content: "";
			bottom: -25px;
		    right: -58px;
		    position: absolute;
		    width: 15px;
		    height: 42px;
			border-top: 1px solid #0f1417;
			border-right: 1px solid #0f1417;
			transform: skew(215deg);
		}
		.text2{
			position: relative;
			margin-left: -58px;
			margin-top: 26px;
		}
		.text2:after{
			bottom: 11px;
    		right: 7px;
			position: absolute;
			content: "";
			width: 15px;
			height: 15px;
			background: url(../images/Forma_1.png);
		}
		.text2:before{
			    content: "";
			    bottom: -25px;
			    right: -29px;
			    position: absolute;
			    width: 15px;
			    height: 42px;
			    border-top: 1px solid #0f1417;
			    border-right: 1px solid #0f1417;
			    transform: skew(225deg);
		}
		.text3{
			    position: relative;
			    margin-left: -51px;
			    margin-top: 40px;
		}
		.text3:after{
			bottom: 11px;
    		right: 7px;
			position: absolute;
			content: "";
			width: 15px;
			height: 15px;
			background: url(../images/Forma_1.png);
		}
		.text3:before{
			content: "";
		    bottom: 17px;
		    right: -29px;
		    position: absolute;
		    width: 15px;
		    height: 23px;
		    border-bottom: 1px solid #0f1417;
		    border-right: 1px solid #0f1417;
		    transform: skew(-240deg);
		} 
		.text4{
			position: relative;
			margin-left: -46px;
			margin-top: 15px;
		}
		.text4:after{
			bottom: 11px;
    		right: 7px;
			position: absolute;
			content: "";
			width: 15px;
			height: 15px;
			background: url(../images/Forma_1.png);
		}
		.text4:before{
			content: "";
		    bottom: 17px;
		    right: -29px;
		    position: absolute;
		    width: 15px;
		    height: 42px;
		    border-bottom: 1px solid #0f1417;
		    border-right: 1px solid #0f1417;
		    transform: skew(-225deg);
		}
		.text5{
			position: relative;
			margin-right: 46px;
		}
		.text5:after{
			bottom: 10px;
    		right: 129px;
			position: absolute;
			content: "";
			width: 15px;
			height: 15px;
			background: url(../images/Forma_1.png);
		}
		.text5:before{
			content: "";
    		bottom: -25px;
		    right: 165px;
		    position: absolute;
		    width: 15px;
		    height: 42px;
		    border-top: 1px solid #0f1417;
		    border-left: 1px solid #0f1417;
		    transform: skew(-225deg);
		}
		.text6{
			position: relative;
			
			margin-top: 22px;
		}
		.text6:after{
			bottom: 11px;
    		right: 146px;
			position: absolute;
			content: "";
			width: 15px;
			height: 15px;
			background: url(../images/Forma_1.png);
		}
		.text6:before{
			        content: "";
		    bottom: -25px;
		    right: 191px;
		    position: absolute;
		    width: 15px;
		    height: 42px;
		    border-top: 1px solid #0f1417;
		    border-left: 1px solid #0f1417;
		    transform: skew(-235deg);
		}
		.text7{
			position: relative;
			margin-right: 45px;
			margin-top: 54px;
		}
		.text7:after{
			bottom: 11px;
    		right: 100px;
			position: absolute;
			content: "";
			width: 15px;
			height: 15px;
			background: url(../images/Forma_1.png);
		}
		.text7:before{
			content: "";
		    bottom: 17px;
		    right: 145px;
		    position: absolute;
		    width: 15px;
		    height: 42px;
		    border-bottom: 1px solid #0f1417;
		    border-left: 1px solid #0f1417;
		    transform: skew(235deg);
		} 
		.text8{
			position: relative;
			margin-right: 70px;
			margin-top: 20px;
		}
		.text8:after{
			bottom: 11px;
    		right: 80px;
			position: absolute;
			content: "";
			width: 15px;
			height: 15px;
			background: url(../images/Forma_1.png);
		}
		.text8:before{
			content: "";
		    bottom: 17px;
		    right: 125px;
		    position: absolute;
		    width: 15px;
		    height: 42px;
		    border-bottom: 1px solid #0f1417;
		    border-left: 1px solid #0f1417;
		    transform: skew(235deg);
		}
		.section1>.wrapper>.next>.next_level{
			  border: solid #091215;
			  border-width: 0 5px 5px 0;
			  margin: 39px auto 44px;
			  transform: rotate(45deg) ;

		}
		.section2>.wrapper{
			text-align: center;
			font-size: 0;
		}
		.section2>.wrapper>h2{
		
			color: #0f1417;
			font-size: 32px;
			font-weight: 700;
			line-height: 36px;
			letter-spacing: 0.8px;
			padding-top: 62px;
		}
		.total{
			display: flex;
			margin-top: 60px;
			justify-content: center;
		}
		.section2>.wrapper>.total>.next>.right{
			border-color: #000000 ;
			margin-right: 41px;
			transform: translateX(0px) rotate(135deg);
		}
		.section2>.wrapper>.total>.next>.left{
			border-color: #000000 ;
			margin-left: 41px;
			transform: translateX(0px) rotate(-45deg);
		}
		
	

		/*.section2>.wrapper>.total>.next>.right {
  display: block;
  padding:14px;
  border-bottom: 5px solid #000000;
  border-right: 5px solid #000000;
  transform: rotate(45deg);
  margin: -16px;
  animation: next 2s infinite;
}
/*.next .right:nth-child(2){
  animation-delay: -0.2s;
}
.next .right:nth-child(3){
  animation-delay: -0.4s;
}
@keyframes next {
  0%{
  opacity: 0;
  transform: rotate(135deg) translate(0px,0px);
  }
  50%{
  opacity: 1;
  }
  100%{
  opacity: 0;
  transform: rotate(135deg) translate(50px,0px);
  }
}*/

		
		.section2>.wrapper>.total>.item+.item{
			margin-left: 30px;
		}
		
		.item{

			width: 160px;
			height: 272px;
			box-shadow: 0 6px 9px rgba(2, 6, 18, 0.04);

		}
		.slaid2,.slaid3,.slaid4{
			margin-left: 30px;
		}
		.sl_p1{
			padding:20px 15px 20px;
			position: relative;
			color: #0f1417;
			font-family: Nunito;
			font-size: 14px;
			font-weight: 600;
			line-height: 18px;

			letter-spacing: 0.35px;
		}

		
		.sl_p2{
			position: relative;
			color: #0f1417;
			font-family: Nunito;
			font-size: 10px;
			font-weight: 400;
			line-height: 18px;

			letter-spacing: 0.25px;
		}
		
		.sl_p3{
			padding: 16px 0 40px 0;
			color: #0f1417;
			font-family: "Open Sans";
			font-size: 16px;
			font-weight: 600;
			line-height: 18px;
			position: relative;
			letter-spacing: 0.4px;

		}
		.points{
			margin: 42px 0 46px 0;
			font-size: 4.5px;

		}
		.point{
			display: inline-block;
			width: 7px;
			height: 7px;
			background: #010000;
			border-radius: 50%;
		}
		.in_section2{
			;
			color: #170e0e;
			font-family: Nunito;
			font-size: 14px;
			font-weight: 400;
			letter-spacing: 0.35px;
		}
		.button_where2{
			text-decoration: none;
			color: #081013;
			display: inline-block;
			margin: 43px 0 64px 0;
			border: 2px solid #081013;
			font-size: 14px;
			font-family: Nunito;
			font-weight: 400;
			letter-spacing: 0.35px;
			padding: 14px 35px 13px;
			

		}
		.button_where2:hover{
			
			transform: scale(1.2);
			transition: all .5s ease;

		}
		.button_get2{
			text-decoration: none;
			background-color: #081013;
			color: #ffffff;
			display: inline-block;
			margin: 43px 0 0 30px;
			border: 2px solid #081013;
			font-size: 14px;
			font-family: Nunito;
			font-weight: 400;
			letter-spacing: 0.35px;
			padding: 15px 37px 12px;
			

		}
		.button_get2:hover{
			
			transform: scale(1.2);
			transition: all .5s ease;

		}
		.section3{
			background: url(../images/make_a_bread.png);
			
			background-size: cover;
			position: relative;	
		}
		.section3:after{
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				background: rgba(0,0,0,.5);
				left: 0;
				top: 0;
		}


		.logo_partners {
		    display: inline-block;
		    text-align: center;
		    margin: 100px 0 0 0;
		    position: relative;
		}
		.logo_partners:after {
			    content: "";
			    position: absolute;
			    top: -51px;
			    left: 50%;
    			transform: translate(-50%,-50%);
			    width: 120px;
			    height: 9px;
			    background: url(../images/Wave_icon_2.png);
		}
		.logo_partners>a {
		    display: inline-block;
		    margin: 30px 35px 0 0;
		    vertical-align: middle;
		}
		.section3>.wrapper>h2{
			padding-top: 61px;
			margin-bottom: 31px;
		}
		.section3>.wrapper>p{
			
			color: #ffffff;
			font-family: Nunito;
			font-size: 14px;
			font-weight: 400;
			line-height: 30px;
			letter-spacing: 0.35px;
		}
		#s4>h2{
			
			padding-top: 77px;
			margin-bottom: 51px;
			color: #0b0806;
			font-family: Nunito;
			font-size: 32px;
			font-weight: 700;
			line-height: 36px;
			letter-spacing: 0.8px;
		}
		.facts{
			display: flex;
			
	}
		#s4>.facts>li{
			padding-top: 144px;
			margin-left: 58px
		}
		#s4>.facts>li:first-child{
			margin-left: 0;
		}
		h3{
			color: #0b0806;
			font-family: Nunito;
			font-size: 16px;
			font-weight: 700;
			line-height: 36px;
			letter-spacing: 0.4px;
			position: relative;
			vertical-align: middle;
		}
		#s4>.facts>li>p{
			
			padding-top: 17px;
			color: #0b0806;
			font-family: Nunito;
			font-size: 14px;
			font-weight: 400;
			line-height: 18px;
			letter-spacing: 0.35px;
		}
		#s4>.next>.next_level{
			border: solid #010000;
			border-width: 0 5px 5px 0;
			margin: 61px 0 62px;
		}
		.fact1:before{
			content: "";
			position: absolute;
			top:-95px;
			left: 50%;
    		transform: translate(-50%,-50%);
			width: 60px;
			height: 60px;
			background: url(../images/sprite/css_sprites.png) -120px -1px;
		}

		.fact2:before{
			content: "";
			position: absolute;
			top:-95px;
			left: 50%;
    		transform: translate(-50%,-50%);
			width: 60px;
			height: 60px;
			background: url(../images/sprite/css_sprites.png) 2px -1px;
		}

		.fact3:before{
			content: "";
			position: absolute;
			top:-95px;
			left: 50%;
    		transform: translate(-50%,-50%);
			width: 60px;
			height: 60px;
			background: url(../images/sprite/css_sprites.png) -245px -1px;
		}

		.fact4:before{
			content: "";
			position: absolute;
			top:-80px;
			left: 50%;
    		transform: translate(-50%,-50%);
			width: 60px;
			height: 30px;
			background: url(../images/sprite/css_sprites.png) -58px -1px;
		}

		.fact5:before{
			content: "";
			position: absolute;
			top:-95px;
			left: 50%;
    		transform: translate(-50%,-50%);
			width: 60px;
			height: 60px;
			background: url(../images/sprite/css_sprites.png) -180px -1px;
		}

		.fact6:before{
			content: "";
			position: absolute;
			top:-95px;
			left: 50%;
    		transform: translate(-50%,-50%);
			width: 60px;
			height: 60px;
			background: url(../images/sprite/css_sprites.png) -308px -1px;
		}
		.section5{
			background-color: #f9f7f7;
			
		}
		.section5>.wrapper{
			
			text-align: left;
			font-size: 0;
		}
		.form1{
			display: inline-block;
		    position: relative;
		    z-index: 1;
    
		}
		#s5>.wrapper>.form1>h2{
			text-align: left;
			padding-top: 82px;
			margin-bottom: 38px;
			color: #0b0806;
			font-family: Nunito;
			font-size: 32px;
			font-weight: 700;
			line-height: 36px;
			letter-spacing: 0.8px;
			
		}
		#s5>.wrapper>.form1>p{
			text-align: left;
			color: #0b0806;
			font-family: Nunito;
			font-size: 14px;
			font-weight: 400;
			line-height: 30px;
			letter-spacing: 0.35px;
		}
		#s5>.wrapper>.form1>p:nth-child(2){
    		
    		margin-bottom: 32px;
		}
		#s5>.wrapper>.form1>p:nth-child(5){
			margin-bottom: 34px;
		}
		#s5>.wrapper>.form1>p:nth-child(7){
			margin-bottom: 45px;
		}
		input[type="e-mail"]{
			margin-bottom: 15px;
			width: 350px;
			height: 40px;
			display: block;
			-webkit-appearance:none;
			-moz-appearance:none ;
			appearance:none ;
			border: 1px solid black;
			outline: none;
		}
		input[type="e-mail"]::placeholder {
			padding-left: 15px;
			color: #000101;
			font-family: "Nunito - Extra Light";
			font-size: 14px;
			font-weight: 400;
			letter-spacing: 0.35px;
		}
		input[type="checkbox"]{
		
			cursor: pointer;
			width: 20px;
			height: 20px;
			margin: 0;
		}
		
		label{
			margin-left: 16px;
			color: #000101;
			font-family: "Nunito - Extra Light";
			font-size: 12px;
			font-weight: 400;
			letter-spacing: 0.3px;
			vertical-align: text-bottom;
		}
		input[type="submit"]{
			
			width: 160px;
			margin: 0 0 64px 30px;
			text-decoration: none;
			font-size: 14px;
			font-family: Nunito;
			font-weight: 400;
			cursor: pointer;
			background-color:  #081013;					
			color: #ffffff;
			box-sizing: border-box;
			border: 2px solid  #081013;
			letter-spacing: 0.35px;
			display: inline-block;
			padding: 15px 21px 12px ;


			appearance: none;
	    	-webkit-appearance: none;
	    	-moz-appearance: none;
	    	outline: none;			
		}

		input[type="submit"]:hover{
			transform: scale(1.2);
			transition: all 0.5s ease;
		}
		.border_coupon{
			
			width: 445px;
			height: 500px;
			background-color: #f9f7f7;
			margin: 82px 0px;
			display: inline-block;
			position: relative;
			z-index: 1;
			padding:3px;
			
			background-image: repeating-linear-gradient( transparent, transparent 20px, black 20px, black 82px);
		}
		.border_coupon:before{
			content: "";
			position: absolute;
			bottom: 77px;
			left: -19px;
			background: url(../images/Scissors_icon.png) no-repeat;
    		width: 41px;
    		z-index: 100;
    		height: 66px;
		}

		.border_coupon:after{
			content: "";
		    position: absolute;
		    padding: 3px;
		    top: 0;
		    left: -12px;
		    z-index: 1;
		    right: 20px;
		    width: 445px;
		    height: 500px;
		    background-image: repeating-linear-gradient( 90deg, transparent, transparent 20px, black 20px, black 78px);
		}
		.coupon{
			background: #f9f7f7; 
			margin: 0 auto;
			display: inline-block;
			width: 445px;
			height: 500px;
			text-align: center;
			font-size: 0;
			position: relative;
			z-index: 2;
			
		} 
		.coup_1{
			margin-top: 59px;
			margin-bottom: 19px;
			color: #0b0806;
			font-family: "Open Sans - Semi Bold";
			font-size: 48px;
			font-weight: 400;
			text-transform: uppercase;
			letter-spacing: 1.2px;
		}
		.coup_2{
			padding-top: 19px;
			color: #0b0806;
			font-family: "Open Sans - Semi Bold";
			font-size: 120px;
			font-weight: 400;
			text-transform: uppercase;
			letter-spacing: 3px;
		}
		.coup_3{
			margin-top: 42px;
			color: #0b0806;
			font-family: "Open Sans - Semi Bold";
			font-size: 24px;
			font-weight: 400;
			line-height: 36px;
			letter-spacing: 0.6px;
		}
		.logo2{

			color: #0b0806;
			font-family: "Kaushan Script";
			font-size: 48px;
			font-weight: 400;
			line-height: 36px;
			letter-spacing: 1.2px;
		}
		.coup_5{
			margin-top: 6px;
			margin-bottom: 40px;
			color: #0b0806;
			font-family: "Open Sans - Semi Bold";
			font-size: 24px;
			font-weight: 400;
			line-height: 36px;
			letter-spacing: 0.6px;
		}
		.coup_6{
			margin: 0 77px 58px 76px;
			color: #0b0806;
			font-family: "Open Sans - Semi Bold";
			font-size: 14px;
			font-weight: 400;
			line-height: 18px;
			letter-spacing: 0.35px;
		} 
		footer{
			background: url(../images/footer_bckgr.png) ;
			background-size: cover;
			padding-bottom: 70px;
		}
	footer>.wrapper>.logo{
			color: #ffffff;
			float: left;
			min-width: 225px;
			margin: 57px 0 0 0;

		}
		
		footer>.wrapper>.logo>p{
			
			padding-top: 5px;
			color: #ffffff;
			font-family: "Open Sans";
			font-size: 12px;
			font-weight: 400;
			letter-spacing: 0.3px;
			text-align: left;
		}
		footer>.wrapper{
			text-align: left;
		}
		.contacts{
			float: right;
			width: 160px;
			height: 100px;
			margin: 57px 35px 0 0;
		}

		.contacts>p{
			color: #ffffff;
			font-family: "Open Sans";
			font-size: 14px;
			font-weight: 400;
			text-align: left;
			line-height: 22px;
			letter-spacing: 0.35px;
		}

		.c_email{
			line-height: 0.5;
		}

		.tel{
			margin: 10px 0 0 0;
		}

		h4{
			color: #ffffff;
			font-family: "Open Sans";
			font-size: 16px;
			font-weight: 400;
			line-height: 33px;
		
			letter-spacing: 0.4px;
		}
		

		.soc_menu{
			float: right;
			width: 160px;
			height: 100px;
			margin: 57px 0 0 0;
		}

		.soc_menu>p{
			color: #ffffff;
			font-family: "Open Sans";
			font-size: 14px;
			font-weight: 400;
			text-align: left;
			letter-spacing: 0.35px;
		}
		.soc_menu>ul{
			text-align: left;
		}

		.soc_menu>ul>li{
			position: relative;
			display: inline-block;
			width: 26px;
			height: 26px;
			margin: 0 0 0 12px;
		}

		.soc_menu>ul>li:hover a:before{
			
			transform:scale(1.5);
		}

		.soc_menu>ul>li:first-child{
			margin: 0 0 0 0;
		}

		.soc_menu>ul>li:first-child>a:before{
			position: absolute;
			top: 0;
			left: 0;
			content: "";
			background: url(../images/social/Twitter_icon.png);
  			width: 26px;
  			height: 26px;
  			transition: transform .5s ease;
			}

		.soc_menu>ul>li:nth-child(2)>a:before{
			position: absolute;
			top: 0;
			left: 0;
			content: "";
			background: url(../images/social/Insta_icon.png) ;
			width: 26px;
  			height: 26px;
  			transition: transform .5s ease;
  			
  		}
  		.soc_menu>ul>li:last-child>a:before{
			position: absolute;
			top: 0;
			left: 0;
			content: "";
			background: url(../images/social/FB_icon.png) ;
			
  			width: 26px;
  			height: 26px;
  			transition: transform .5s ease;

		}
		.clear{
			clear: both;
		}
@media only screen 
  and (min-device-width: 200px) 
  and (max-device-width: 576px){
.facts{
	display: block;
}
}
@media (max-width: 576px){
.wrapper {
    width: 540px;
}
footer>.wrapper {
	display: flex;
}

}
@media (min-width: 576px){
	.wrapper {
    width: 540px;
}


header{
	display: block;
}
}
@media (min-width: 400px) 
   and (max-width: 768px){

.facts {
    display: block;
}
#s4>.facts>li{
	width: 100%;
	margin-left: 0;
}
.total {
    flex-flow: wrap;
}
#s4>.facts>li:first-child {
    margin-left: 0;
}
footer>.wrapper {
	display: flex;
}
.menu>ul>li{
	margin-left: 10px;
}
.menu>ul>li:first-child{
	margin-left: 0;
}
}

}
@media (max-width: 768px){

#s4>.facts>li {
    margin-left: 0;
}
}
@media (min-width: 768px){
.wrapper {
    width: 720px;
}

.image{
	max-width: 100%;
    height: auto;
}


}
@media (max-width: 992px){
header{
	display: block;
}
.facts {
    display: block;
}
.flexbox{
	display: block;
}
.right_block{
	text-align: center;
}
.left_block p,.right_block p{
	display: inline-block;
	margin-left: 20px; 
}
.right_block p:first-child,.left_block p:first-child{
		margin-left:0;
}
#s1 *::after,#s1 *::before{
	display: none
}
#s1 .text5,#s1 .text7{
	margin-right: 0;
}
}		

@media (min-width: 992px){
.wrapper {
    width: 960px;
}
header{
	display: flex;
}

.image{
max-width: 100%;
    height: auto;
}
}		
@media (min-width: 1200px){
.wrapper {
    width: 1110px;
}
.border_coupon {
	left: 70px;
}
}
@media (max-width: 1200px){
.section5>.wrapper {
    text-align: center;
}



	
